<% include layout %>

          <h2 class="sub-header">Section title</h2>
          <div table class="table table-hover">
            <table table class="table table-hover">
              <thead>
                <tr>
                  <th>Cateogria</th>
                  <th>Contacto</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>familia</td>
                  <td>Jorge</td>
                </tr>
                <tr>
                  <td>amigos</td>
                  <td>Kevin</td>
                </tr>
                <tr>
                  <td>familia</td>
                  <td>sam</td>
               </tr>
                <tr>
                  <td>trabajo</td>
                  <td>josue</td>
                </tr>
                <tr>
                  <td>amigos</td>
                  <td>jaime</td>
                </tr>
                <tr>
                  <td>amigos</td>
                  <td>fredy</td>
                </tr>
                         
                <tr>
                  <td>amigos</td>
                  <td>marco</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>